NET "ap_clk" TNM_NET = "ap_clk";
TIMESPEC "TS_clk" = PERIOD "ap_clk" 6.666700 ns HIGH 50 %;

#Uncomment the following to set Tco
#OFFSET = IN 6.666700 ns VALID 6.666700 ns BEFORE "ap_clk";

#Uncomment the following to set Tsu
#OFFSET = OUT 6.666700 ns AFTER "ap_clk";

#INST "rows<0>" TNM = TG_STABLE_INPUTS;
#INST "rows<1>" TNM = TG_STABLE_INPUTS;
#INST "rows<2>" TNM = TG_STABLE_INPUTS;
#INST "rows<3>" TNM = TG_STABLE_INPUTS;
#INST "rows<4>" TNM = TG_STABLE_INPUTS;
#INST "rows<5>" TNM = TG_STABLE_INPUTS;
#INST "rows<6>" TNM = TG_STABLE_INPUTS;
#INST "rows<7>" TNM = TG_STABLE_INPUTS;
#INST "rows<8>" TNM = TG_STABLE_INPUTS;
#INST "rows<9>" TNM = TG_STABLE_INPUTS;
#INST "rows<10>" TNM = TG_STABLE_INPUTS;
#INST "rows<11>" TNM = TG_STABLE_INPUTS;
#INST "rows<12>" TNM = TG_STABLE_INPUTS;
#INST "rows<13>" TNM = TG_STABLE_INPUTS;
#INST "rows<14>" TNM = TG_STABLE_INPUTS;
#INST "rows<15>" TNM = TG_STABLE_INPUTS;
#INST "rows<16>" TNM = TG_STABLE_INPUTS;
#INST "rows<17>" TNM = TG_STABLE_INPUTS;
#INST "rows<18>" TNM = TG_STABLE_INPUTS;
#INST "rows<19>" TNM = TG_STABLE_INPUTS;
#INST "rows<20>" TNM = TG_STABLE_INPUTS;
#INST "rows<21>" TNM = TG_STABLE_INPUTS;
#INST "rows<22>" TNM = TG_STABLE_INPUTS;
#INST "rows<23>" TNM = TG_STABLE_INPUTS;
#INST "rows<24>" TNM = TG_STABLE_INPUTS;
#INST "rows<25>" TNM = TG_STABLE_INPUTS;
#INST "rows<26>" TNM = TG_STABLE_INPUTS;
#INST "rows<27>" TNM = TG_STABLE_INPUTS;
#INST "rows<28>" TNM = TG_STABLE_INPUTS;
#INST "rows<29>" TNM = TG_STABLE_INPUTS;
#INST "rows<30>" TNM = TG_STABLE_INPUTS;
#INST "rows<31>" TNM = TG_STABLE_INPUTS;
#INST "cols<0>" TNM = TG_STABLE_INPUTS;
#INST "cols<1>" TNM = TG_STABLE_INPUTS;
#INST "cols<2>" TNM = TG_STABLE_INPUTS;
#INST "cols<3>" TNM = TG_STABLE_INPUTS;
#INST "cols<4>" TNM = TG_STABLE_INPUTS;
#INST "cols<5>" TNM = TG_STABLE_INPUTS;
#INST "cols<6>" TNM = TG_STABLE_INPUTS;
#INST "cols<7>" TNM = TG_STABLE_INPUTS;
#INST "cols<8>" TNM = TG_STABLE_INPUTS;
#INST "cols<9>" TNM = TG_STABLE_INPUTS;
#INST "cols<10>" TNM = TG_STABLE_INPUTS;
#INST "cols<11>" TNM = TG_STABLE_INPUTS;
#INST "cols<12>" TNM = TG_STABLE_INPUTS;
#INST "cols<13>" TNM = TG_STABLE_INPUTS;
#INST "cols<14>" TNM = TG_STABLE_INPUTS;
#INST "cols<15>" TNM = TG_STABLE_INPUTS;
#INST "cols<16>" TNM = TG_STABLE_INPUTS;
#INST "cols<17>" TNM = TG_STABLE_INPUTS;
#INST "cols<18>" TNM = TG_STABLE_INPUTS;
#INST "cols<19>" TNM = TG_STABLE_INPUTS;
#INST "cols<20>" TNM = TG_STABLE_INPUTS;
#INST "cols<21>" TNM = TG_STABLE_INPUTS;
#INST "cols<22>" TNM = TG_STABLE_INPUTS;
#INST "cols<23>" TNM = TG_STABLE_INPUTS;
#INST "cols<24>" TNM = TG_STABLE_INPUTS;
#INST "cols<25>" TNM = TG_STABLE_INPUTS;
#INST "cols<26>" TNM = TG_STABLE_INPUTS;
#INST "cols<27>" TNM = TG_STABLE_INPUTS;
#INST "cols<28>" TNM = TG_STABLE_INPUTS;
#INST "cols<29>" TNM = TG_STABLE_INPUTS;
#INST "cols<30>" TNM = TG_STABLE_INPUTS;
#INST "cols<31>" TNM = TG_STABLE_INPUTS;
#TIMESPEC TS_STABLE_INPUTS = FROM "TG_STABLE_INPUTS" TO "FFS" TIG;
